[submodule "Jarena"]
	path = Jarena
	url = https://github.com/alissonpeloso/Jarena
	
[submodule "Sucury-lang"]
	path = Sucury-lang
	url = https://github.com/alissonpeloso/Sucury-lang
	
[submodule "Dinamic_1_Prog"]
	path = Dinamic/Dinamic_1_Prog
	url = https://github.com/alissonpeloso/Dinamic_1_Prog
	
